.rates {
  background-color: #e6e8f1;
  color: $color-small-txt;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;
  }
}

.rates__link {
  color: #132576;
  font-weight: 700;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    @include font-prop(20px, 20px);
  }
}

.rates__business-popup {
  display: none;

  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(29, 46, 91, 0.14);

  @media (min-width: $tablet-width) {
    box-shadow: 0 4px 22px rgba(29, 46, 91, 0.18);
  }

  @media (min-width: $desktop-width) {
    width: 750px;
    border-radius: 30px;
  }
}
